.itemWrap {
    border: 1px solid grey;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 30px;

}

.btn {
    display: inline-block;
    position: relative;
    width: 120px;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #2d2d33;
    padding: 13px 20px;
    background-color: #F8F8FF;
    border-radius: 30px;
    border: 1px solid #2d2d33;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 15px;
    transition: all 0.3s ease-out;
}

.btn:hover {
    color: #F8F8FF;
    background-color: #2d2d33;
}