@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Wix Madefor Text', sans-serif;
}
h2 {
  font-size: 48px;
}
.container {
  margin: 20px auto;
  max-width: 1440px;
}

.user-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  margin: 50px 0;}
.user-wrap_3 {
  grid-template-columns: repeat(3, 1fr);
}
.user-wrap_acid > .member {
  background-color: #6da43a;
  color: white;

}
.member {
  background-color: #d0b7d5;
  margin: 5px;
  padding: 20px;
}
img {
  display: block;
  height: 300px;
  padding: 20px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}