@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #2d2d33;
    background-color: #F8F8FF;
    margin: 0;
}
.container {
    max-width: 1440px;
    padding: 15px 30px;
    margin: 0 auto;
}

h1, h2, h3 {
    text-transform: capitalize;
}

.grid-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-bottom: 50px;
}

.item {
    border: 1px solid black;
    padding: 5px 10px;
}

.item-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.list-item {
    margin-bottom: 10px;
}
.list-item > span {
    padding-right: 10px;
}

button {
    display: inline-block;
    min-width: 130px;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    text-decoration: unset;
    padding: 10px 20px;
    background-color: #41b2b2;
    border: 1px solid rgba(0, 188, 208, 0.78);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition:  all 0.3s ease-out;
    margin-bottom: 5px;
}

button:hover {
    background-color: rgba(0, 188, 208, 1);

}

button.secondary {
    min-width: unset;
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 0;
    background-color: rgba(197, 197, 205, 0.7);
    border: 1px solid rgba(197, 197, 205, 0.7);
}


button.secondary:hover {
    background-color: rgba(96, 96, 96, 0.9);
}